[submodule "protobuf-c"]
	path = protobuf-c
	url = git@github.com:protobuf-c/protobuf-c.git
[submodule "protocols/gog_protocols"]
	path = protocols/gog_protocols
	url = git@github.com:Yepoleb/gog_protocols.git
